<span class="pull-left">
  <strong>Zone {{zone.number}}</strong>
  <br>
  <small>{{zone.description}}</small>
</span>
<div class="toggle-row">
  <div id={{toggleId1}} {{bind-attr class="isToggle1Active:active :toggle :toggle-zone :pull-left"}}>
    <div class="toggle-handle"></div>
  </div>
  <div id={{toggleId2}} {{bind-attr class="isToggle2Active:active :toggle :toggle-zone :pull-right"}}>
    <div class="toggle-handle"></div>
  </div>
</div>
