{{#link-to 'smartlink-controller.settings.edit-flow' zone.id}}
  {{#if zone.description}}
    Edit {{short-text zone.description size=20}}
    <p>Zone {{zone.number}}</p>
  {{else}}
    Edit Zone {{zone.number}}
  {{/if}}
  <p style="clear: both;">
    {{#if zone.smartlinkController.isRealtimeFlow}}

      {{#if zone.realtimeFlowEnabled}}
        <span class="badge badge-positive">Shutdown Enabled</span>
      {{else}}
        <span class="badge weathermatic-badge-warning">Shutdown Disabled</span>
      {{/if}}

      {{#if zone.realtimeFlowEnabled}}
        {{#if isLowFlowLimitOff}}
          <span class="badge weathermatic-badge-warning">Low Flow Limit Off</span>
        {{else}}
          <span class="badge">Low Flow Limit {{lowFlowLimit}}</span>
        {{/if}}

        {{#if isHighFlowLimitOff}}
          <span class="badge weathermatic-badge-warning">High Flow Limit Off</span>
        {{else}}
          <span class="badge">High Flow Limit {{highFlowLimit}}</span>
        {{/if}}
      {{/if}}

      <span class="badge">Running Avg {{runningAvgFlowInLocalUnits}}</span>
      <span class="badge">Current Avg {{currentAvgGPMInLocalUnits}}</span>

    {{else}}
      <span class="badge">{{gpmInLocalUnits}}</span>
    {{/if}}

    <span class="badge">Valve Size {{valveSizeInLocalUnits}}</span>
  </p>

{{/link-to}}
