<header class="bar bar-nav weathermatic-header">
  <a href="javascript:void(0)" {{action 'abandon'}} class="btn btn-link btn-nav pull-right">
    <span class="icon icon-close"></span>
  </a>
  <div class="weathermatic-logo-container">
    <img src="assets/images/sl-logo.png" class="weathermatic-logo">
  </div>
</header>

<div class="content">
  <center class="weathermatic-loading-message">
    <h2>Communicating <br> with your device</h2>

    {{#if instruction}}
      <h4>Status:</h4>
      <br>
      <div class="content-padded">
        <button {{bind-attr class=':btn :btn-block instructionStatusCssClass'}}>
          {{#if instruction.isInProgress}}
            {{fa-icon 'gear fa-spin'}}
          {{/if}}

          {{#if instruction.isStatusFinished}}
            {{fa-icon 'check-circle'}}
          {{/if}}

          {{#if instruction.isStatusError}}
            {{fa-icon 'warning'}}
          {{/if}}

          {{statusMessage}}
        </button>

        {{#if instruction.isStatusError}}
          <p>
            Our servers encountered a problem while processing your command.
            Please try again later.
          </p>
          <button class="btn btn-primary" {{action 'close'}}>{{fa-icon 'times'}} Dismiss</button>
        {{/if}}
      </div>
    {{else}}
      <h4>Please stand by</h4>
      {{loading-indicator}}
    {{/if}}
  </center>
</div>
