<header class="bar bar-nav">
  <h1 class="title">
    {{fa-icon 'cloud-upload'}} Sending commands…
  </h1>
</header>

<div class="content">
  <center class="weathermatic-loading-message">
    <h2>Communicating <br> with your device</h2>

    {{#if instruction}}
      <h4>Status:</h4>
      <br>
      <div class="content-padded">
        <button {{bind-attr class=':btn :btn-block instructionStatusCssClass'}}>
          {{#if instruction.isInProgress}}
            {{fa-icon 'gear fa-spin'}}
          {{/if}}

          {{#if instruction.isStatusFinished}}
            {{fa-icon 'check-circle'}}
          {{/if}}

          {{#if instruction.isStatusError}}
            {{fa-icon 'warning'}}
          {{/if}}

          {{instruction.status}}
        </button>

        {{#if instruction.isStatusError}}
          <p>
            Our servers encountered a problem while processing your command.
            Please try again later.
          </p>

          <button class="btn btn-primary" {{action 'close'}}>{{fa-icon 'times'}} Dismiss</button>
        {{/if}}
      </div>
    {{else}}
      <h4>Please stand by</h4>
      {{loading-indicator}}
    {{/if}}
  </center>
</div>
