<header class="bar bar-nav weathermatic-header">
  <a href="javascript:void(0)" class="icon pull-left {{searchIcon}}" {{action 'toggleSearch'}}></a>
  {{logo-header}}
  <a href="javascript:void(0)" class="icon icon-gear pull-right cog-icon" {{action 'openOptionsMenu'}}></a>
</header>

{{#pull-to-refresh refreshData='refreshData'}}
  <div class="content weathermatic-content">
    <div class="background-area"></div>
    <ul class="table-view">
      <li class="content-padded weathermatic-sites-search hidden">
        {{input type='search' placeholder='Search Sites' value=search}}
        <button disabled={{isSearchEmpty}} {{action 'performSearch'}}
          class="btn btn-inverse btn-primary btn-block">{{fa-icon 'search'}} {{t 'common.search'}}</button>
      </li>
      <li class="table-view-cell table-view-divider">
        {{fa-icon 'building'}} {{t 'sites.title'}}
        <button class="btn btn-outlined" {{action 'openSortOptions'}}>
          {{#if isSortByProximity}}
            {{fa-icon 'globe'}} {{t 'sites.sortByLocation'}}
          {{/if}}
          {{#if isSortByAlpha}}
            {{fa-icon 'sort-alpha-asc'}} {{t 'sites.sortByName'}}
          {{/if}}
        </button>
      </li>
      {{#each model.sites as |site|}}
        <li class="table-view-cell media">
          <a href="javascript:void(0)" class="navigate-right" {{action 'goToSite' site}}>
            <div class="media-body">
              <strong>{{site.name}}</strong>
              <p>
                <small class="badge">{{site.cityState}}</small>
                <small class="badge controller-count-badge">{{site.controllersCount}} {{t "common.controller"}}{{#if (gt site.controllersCount 1)}}s{{/if}}</small>
                {{#if site.milesAway}}
                  <small class="badge location-badge">{{fa-icon 'location-arrow'}} {{format-number site.milesAway round=true}} {{t 'sites.locationUnit'}}</small>
                {{/if}}
                {{#if site.faultsCount}}
                  <small class="badge badge-negative">
                  {{site.faultsCount}} {{t "sites.faultUnit"}}{{#if (gt site.faultsCount 1)}}s{{/if}}
                  </small>
                {{/if}}
              </p>
            </div>
          </a>
        </li>
      {{else}}
        {{#unless isLoading}}
          <li class="table-view-cell media">
            <center>
              <h1>{{fa-icon 'times'}} Not found</h1>
              {{#if lastSearch.length}}
                <p>We didn't find any sites that match:</p>
                <h2 class="weathermatic-search-not-found-term">{{lastSearch}}</h2>
              {{/if}}
            </center>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
    {{#if shouldShowLoading}}
      <div class="content-padded loading-icon">
        <center>{{fa-icon 'refresh fa-spin'}} {{t 'common.status'}}</center>
      </div>
    {{/if}}
    <div class="weathermatic-page-bottom"></div>
  </div>

  <div id="options-menu" class="modal {{if isOptionsMenuOpen 'active'}}">
    <header class="bar bar-nav weathermatic-header">
      <a class="icon icon-close pull-right" href="javascript:void(0)" {{action 'closeOptionsMenu'}}></a>
      <h1 class="title">{{fa-icon 'gear' classNames='spaced-icon'}} {{t 'menu.title'}}</h1>
    </header>
    <div class="content weathermatic-content">
      <ul class="table-view">
        <li class="table-view-cell">
          <a href="javscript:void(0)" {{action 'logOut'}}>
            <div class="media-body">
              <h2>{{fa-icon 'sign-out' classNames='spaced-icon'}} {{t 'menu.logoutButton'}}</h2>
              <p>{{t 'menu.logoutMessage'}}</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell">
          <a href="javascript:void(0)" {{action 'syncSites'}}>
            <div class="media-body">
              <h2>{{fa-icon 'refresh' classNames='spaced-icon'}} {{t 'menu.syncButton'}}</h2>
              <p>{{t 'menu.syncMessage'}}</p>
            </div>
          </a>
        </li>
        {{#unless geolocationUnavailable}}
        <li class="table-view-cell">
          <a href="javascript:void(0)" {{action 'openSortOptions'}}>
            <div class="media-body">
              <h2>{{fa-icon 'sort' classNames='spaced-icon'}} {{t 'menu.sortButton'}}</h2>
              <p>{{t 'menu.sortMessage'}}</p>
            </div>
          </a>
        </li>
        {{/unless}}
        <li class="table-view-cell">
          <a href="javascript:void(0)" {{action 'sendFeedback'}}>
            <div class="media-body">
              <h2>{{fa-icon 'comment-o' classNames='spaced-icon'}} {{t 'menu.feedbackButton'}}</h2>
              <p>{{t 'menu.feedbackMessage'}}</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell">
          <a href="javascript:void(0)" {{action 'launchFullSite'}}>
            <div class="media-body">
              <h2>{{fa-icon 'external-link' classNames='spaced-icon'}} {{t 'menu.launchButton'}}</h2>
              <p>{{t 'menu.launchMessage'}}</p>
            </div>
          </a>
        </li>
      </ul>

      <div class="content-padded">
        <button class="btn btn-negative btn-block" {{action 'closeOptionsMenu'}}>
          {{fa-icon 'times-circle'}} {{t 'common.close'}}
        </button>
      </div>

      <center class="app-version">{{t 'menu.version'}} <span class="app-version-number"></span></center>
    </div>
  </div>

  <div id="sites-sort-options" class="modal {{if isSortOptionsOpen 'active'}}">
    <header class="bar bar-nav weathermatic-header">
      <a class="icon icon-close pull-right" href="javascript:void(0)" {{action 'closeSortOptions'}}></a>
      <h1 class="title">{{fa-icon 'sort' classNames='spaced-icon'}} {{t 'menu.sortTitle'}}</h1>
    </header>

    <div class="content weathermatic-content">
      <ul class="table-view">
        <li class="table-view-cell">
          <a href="javascript:void(0)" {{action 'setSortMethod' 'proximity'}}>
            <div class="media-body">
              <h2>{{fa-icon 'globe' classNames='spaced-icon'}} {{t 'common.sortByLocationButton'}}</h2>
              <p>{{t 'common.sortByLocationMessage'}}</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell">
          <a href="javascript:void(0)" {{action 'setSortMethod' 'alpha'}}>
            <div class="media-body">
              <h2>{{fa-icon 'sort-alpha-asc' classNames='spaced-icon'}} {{t 'common.sortByNameButton'}}</h2>
              <p>{{t 'common.sortByNameMessage'}}</p>
            </div>
          </a>
        </li>
      </ul>

      <div class="content-padded">
        <button class="btn btn-negative btn-block" {{action 'closeSortOptions'}}>
          {{fa-icon 'times-circle'}} {{t 'common.cancel'}}
        </button>
      </div>
    </div>
  </div>
{{/pull-to-refresh}}
