<header class="bar bar-nav">
  {{#link-to 'sites' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <h1 class="title">
    {{fa-icon 'building'}} {{model.name}}
  </h1>
</header>

<div class="content">
  <ul class="table-view">
    <li class="table-view-cell">
      <p>
        {{model.fullAddress}}
      </p>
    </li>
    <li class="table-view-cell table-view-divider">
      {{fa-icon 'signal'}} Controllers
    </li>
    {{#each smartlinkController in model.smartlinkControllers}}
      <li class="table-view-cell">
        {{#link-to 'smartlink-controller' smartlinkController.id class='push-right'}}
          {{smartlinkController.name}}
          {{#if smartlinkController.faults.length}}
          <span class="badge badge-negative">
            {{count-text 'fault' smartlinkController.faults.length}}
          </span>
          {{/if}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
