<header class="bar bar-nav weathermatic-header weathermatic-left-nav-only">
  {{#link-to 'smartlink-controller.inspections.select-inspection.select-zone' class='btn btn-link btn-nav pull-left'}}
  <span class="icon icon-left-nav"></span> {{/link-to}}
  <h1 class="title">{{fa-icon 'fa-clipboard'}} Inspections </h1>
  {{#link-to 'smartlink-controller.inspections.edit-inspection' class='menu-option'}} {{fa-icon 'fa-gear'}} {{/link-to}}
</header>
<div id="start-inspection" class="content weathermatic-content">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider">
      Brief Instructions
    </li>
  </ul>
  {{#each model.inspection.inspections_zones as |zone|}} 
  {{#if (equiv zone.id model.id) }}
  {{#each model.zones as |model_zone|}}
  {{#if (equiv zone.zone_id model_zone.id) }}
  <form class="weathermatic-page-bottom start-inspection">
    <div class="section">
      <div class="form-group full">
        <li class="column">
          {{zones.zone.zone_id}}
          <label for="title">Zone Name</label>
          <input id="title" type="text" />
        </li>
      </div>
      <div class="form-group half">
        <li class="column">
          <label for="inspection-type">% of Area</label>
          <select id="scheduled-select" name="cars">
                <option value="scheduled">&nbsp;</option>
              </select>
        </li>
        <li class="column">
          <label for="inspection-type">Sprinkler Type</label>
          <select class="form-control" name="sprinkler_type">
            {{#each model.sprinklerTypes as |value|}}
              <option value={{value.id}} selected={{eq value.id model_zone.sprinklerType}}>{{value.display}}</option>
            {{/each}}
          </select>
        </li>
      </div>
      <div class="form-group half">
        <li class="column">
          <label for="inspection-type">Plant Type</label>
          <select id="scheduled-select" name="cars">
             {{#each model.plantTypes as |value|}}
              <option value={{value.id}} selected={{eq value.id model_zone.plantType}}>{{value.display}}</option>
            {{/each}}
          </select>
        </li>
        <li class="column">
          <label for="inspection-type">Soil Type</label>
          <select class="form-control" name="soil_type">
            {{#each model.soilTypes as |value|}}
              <option value={{value.id}} selected={{eq value.id model_zone.soilType}}>{{value.display}}</option>
            {{/each}}
          </select>
        </li>
      </div>
      <div class="form-group half">
        <li class="column">
          <label for="inspection-type">More/Less</label>
          <select id="scheduled-select" name="cars">
            {{#each model.more_less as |value|}}
              <option value={{value.id}} selected={{eq value.id model_zone.soilType}}>{{value.display}}</option>
            {{/each}}
          </select>
        </li>
        <li class="column">
          <label for="inspection-type">Value Size</label>
            <select class="form-control valve_size" name="valve-size">
              <option value="0.0">Not Set</option>
              <option value="0.75">0.75"</option>
              <option selected="" value="1.0">1.0"</option>
              <option value="1.25">1.25"</option>
              <option value="1.5">1.5"</option>
              <option value="2.0">2.0"</option>
              <option value="2.5">2.5"</option>
              <option value="3.0">3.0"</option>
          </select>
        </li>
      </div>
      <div class="form-group half">
        <li class="column">
          <label for="inspection-type">GPM</label>
          <input id="scheduled-select" name="gpm" value="{{model_zone.gpm}}" />
        </li>
      </div>
    </div>
    <div class="section">
      <div class="form-group full">
        <li class="column">
          <label for="title">Photos</label>
          <input type="file" class="choose-pic" accept="image/*">
        </li>
      </div>
    </div>
    <div class="section">
      <div class="form-group full">
        <li class="column">
          <label for="title">Programs</label>
          <div class="programs">
            <span class="a-program">A</span>
            <span class="b-program">B</span>
            <span class="c-program">C</span>
            <span class="d-program">D</span>
          </div>
        </li>
      </div>
    </div>
    <div class="section run-zone-section">
      <div class="form-group full">
        <li class="column">
          <label for="title">Run Zone</label> {{#link-to 'smartlink-controller.inspections.select-inspection.select-zone.start-inspection.run-zone'
          zone.zone_id class='push-right'}}
          <button class="run-zone" type="button">Start</button> {{/link-to}}
        </li>
      </div>
    </div>
    <div class="section">
      <div class="form-group full value-status">
        <li class="column">
          <label for="date">Value Status:</label>
          <div class="same-line" style="width: 100%">
            <div class="radio-button"><input type="radio" name="valve-group" value="Pass" checked>Pass</div>
            <div class="radio-button"><input type="radio" name="valve-group" value="Fail">Fail</div>
          </div>
        </li>
      </div>
      <div class="form-group half half-input">
        <li class="column">
          <label for="clogged-nozzle">Clogged Nozzle</label>
          <select id="clogged-nozzle" name="clogged-nozzle">
            {{#each model.selectValues as |value|}}
              <option value={{value.id}} selected={{eq value.id 0}}>{{value.display}}</option>
            {{/each}}
          </select>
        </li>
        <li class="column">
          <label for="inspection-type">Blocked Head</label>
          <select id="scheduled-select" name="cars">
            {{#each model.selectValues as |value|}}
              <option value={{value.id}} selected={{eq value.id 0}}>{{value.display}}</option>
            {{/each}}
          </select>
        </li>
      </div>
      <div class="form-group half half-input">
        <li class="column">
          <label for="inspection-type">Broken Head</label>
          <select id="scheduled-select" name="cars">
            {{#each model.selectValues as |value|}}
              <option value={{value.id}} selected={{eq value.id 0}}>{{value.display}}</option>
            {{/each}}  
          </select>
        </li>
        <li class="column">
          <label for="inspection-type">Raise Head</label>
          <select id="scheduled-select" name="cars">
            {{#each model.selectValues as |value|}}
              <option value={{value.id}} selected={{eq value.id 0}}>{{value.display}}</option>
            {{/each}}
          </select>
        </li>
      </div>
      <div class="form-group half half-input">
        <li class="column">
          <label for="inspection-type">Lower Head</label>
          <select id="scheduled-select" name="cars">
            {{#each model.selectValues as |value|}}
              <option value={{value.id}} selected={{eq value.id 0}}>{{value.display}}</option>
            {{/each}}
          </select>
        </li>
        <li class="column">
          <label for="inspection-type">Replace Head</label>
          <select id="scheduled-select" name="cars">
             {{#each model.selectValues as |value|}}
              <option value={{value.id}} selected={{eq value.id 0}}>{{value.display}}</option>
            {{/each}}
          </select>
        </li>
      </div>
      <div class="form-group half half-input">
        <li class="column">
          <label for="inspection-type">Broken Lateral</label>
          <select id="scheduled-select" name="cars">
            {{#each model.selectValues as |value|}}
              <option value={{value.id}} selected={{eq value.id 0}}>{{value.display}}</option>
            {{/each}}
          </select>
        </li>
        <li class="column">
          <label for="inspection-type">Broken Main</label>
          <select id="scheduled-select" name="cars">
            {{#each model.selectValues as |value|}}
              <option value={{value.id}} selected={{eq value.id 0}}>{{value.display}}</option>
            {{/each}}
          </select>
        </li>
      </div>
    </div>
    <div class="section">
      <div class="form-group half half-input">
        <li class="column">
          <label for="inspection-type">In/Out Scope</label>
          <select id="scheduled-select" name="cars">
            <option value="scheduled">In</option>
            <option value="scheduled">Out</option>
            <option value="scheduled">None</option>
          </select>
        </li>
        <li class="column">
          <label for="inspection-type">Estimated Cost</label> $
          <input id="title" type="text" />
        </li>
      </div>
    </div>
    <div class="section">
      <div class="form-group full">
        <li class="column">
          <label for="inspection-type">Comments</label>
          <textarea rows="4" cols="50"></textarea>
        </li>
      </div>
    </div>
    <div class="center-buttons">
      {{#link-to 'smartlink-controller.inspections.select-inspection.select-zone'}}
      <button class="btn btn-positive">Cancel</button> {{/link-to}} {{#link-to 'smartlink-controller.inspections.select-inspection'}}
      <button class="btn btn-negative">Save</button> {{/link-to}}
    </div>
  </form>
  {{/if}} {{/each}}
  {{/if}} {{/each}}
</div>