<header class="bar bar-nav weathermatic-header weathermatic-left-nav-only">
  {{#link-to 'smartlink-controller.inspections.select-inspection' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <h1 class="title">{{fa-icon 'fa-clipboard'}} Omit Inspections </h1>
</header>
<div id="omit-inspection" class="content weathermatic-content">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider">
      Omit Information
    </li>
  </ul>
  <div class="general-info">
    <div class="section">
      <h2 class="section-title">Omit Specific Times</h2>
      <ul class="section-content">
        {{#if (isArrayEmpty model.controller_omission_times)}}
        <li class="section-list">None</li>
        {{else}}
          {{#each model.controller_omission_times as |times|}}
          <li class="section-list">{{times.start_time}} to {{times.end_time}}</li>
          {{/each}}
        {{/if}}
      </ul>
    </div>
    <div class="section">
      <div class="section-title">
        <span class="omit-title">Omit Days of Week</span>
      </div>
      <ul class="days-of-week">
        <li class="day {{if (arrayContainsDay model.controller_omission_days '0') "active"}}">S</li>
        <li class="day {{if (arrayContainsDay model.controller_omission_days '1') "active"}}">M</li>
        <li class="day {{if (arrayContainsDay model.controller_omission_days '2') "active"}}">T</li>
        <li class="day {{if (arrayContainsDay model.controller_omission_days '3') "active"}}">W</li>
        <li class="day {{if (arrayContainsDay model.controller_omission_days '4') "active"}}">T</li>
        <li class="day {{if (arrayContainsDay model.controller_omission_days '5') "active"}}">F</li>
        <li class="day {{if (arrayContainsDay model.controller_omission_days '6') "active"}}">S</li>
      </ul>
    </div>
    <div class="section">
      <h2 class="section-title">Omit Event Dates</h2>
      <ul class="section-content">
        {{#if (isArrayEmpty model.controller_omission_dates)}}
          <li class="section-list">None</li>
        {{else}}
          {{#each model.controller_omission_dates as |date|}}
            <li class="section-list">{{date.date}}</li>
          {{/each}}
        {{/if}}
      </ul>
    </div>
  </div>
</div>