<header class="bar bar-nav weathermatic-header">
  {{#link-to 'smartlink-controller.settings.programming' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}

  <h1 class="title">{{fa-icon 'times-circle-o'}} Omit Days &amp; Times</h1>
</header>

<div class="content weathermatic-content">
  {{need-send-message smartlinkController=model transmit='transmit'}}

  <ul class="table-view">
    <li class="table-view-cell table-view-divider">
        Omit Specific Times:
    </li>
    <li class="table-view-cell">
      <span> From </span>
      <span class="pull-right weathermatic-settings-input-small">
        <select onchange={{action (mut omissionTime.startTimeHours) value="target.value"}}>
          {{#each availableOmitTimes as |time|}}
          <option value={{time.value}}
            selected={{eq time.value omissionTime.startTimeHours}}>{{time.label}}</option>
          {{/each}}
        </select>

        <select onchange={{action (mut omissionTime.startTimeAmPm) value="target.value"}}>
          {{#each timeSuffix as |amPm|}}
          <option value="{{amPm.value}}"
            selected={{eq amPm.value omissionTime.startTimeAmPm}}>{{amPm.label}}</option>
          {{/each}}
        </select>
      </span>
    </li>
    <li class="table-view-cell">
      <span> To </span>
      <span class="pull-right weathermatic-settings-input-small">
        <select onchange={{action (mut omissionTime.endTimeHours) value="target.value"}}>
          {{#each availableOmitTimes as |time|}}
          <option value={{time.value}}
            selected={{eq time.value omissionTime.endTimeHours}}>{{time.label}}</option>
          {{/each}}
        </select>

        <select onchange={{action (mut omissionTime.endTimeAmPm) value="target.value"}}>
          {{#each timeSuffix as |amPm|}}
          <option value="{{amPm.value}}"
            selected={{eq amPm.value omissionTime.endTimeAmPm}}>{{amPm.label}}</option>
          {{/each}}
        </select>
      </span>
    </li>
    <li class="table-view-cell table-view-divider">
      Omit Days of Week:
    </li>
    <li class="table-view-cell">
      <span>Sunday</span>
      <span class="pull-right weathermatic-settings-input-small ">
        <div id="weathermatic-toggle-is-sunday-selected" class="{{if isSundaySelected 'active'}} toggle">
          <div class="toggle-handle"></div>
        </div>
      </span>
    </li>
    <li class="table-view-cell">
      <span>Monday</span>
      <span class="pull-right weathermatic-settings-input-small ">
        <div id="weathermatic-toggle-is-monday-selected" class="{{if isMondaySelected 'active'}} toggle">
          <div class="toggle-handle"></div>
        </div>
      </span>
    </li>
    <li class="table-view-cell">
      <span>Tuesday</span>
      <span class="pull-right weathermatic-settings-input-small ">
        <div id="weathermatic-toggle-is-tuesday-selected" class="{{if isTuesdaySelected 'active'}} toggle">
          <div class="toggle-handle"></div>
        </div>
      </span>
    </li>
    <li class="table-view-cell">
      <span>Wednesday</span>
      <span class="pull-right weathermatic-settings-input-small ">
        <div id="weathermatic-toggle-is-wednesday-selected" class="{{if isWednesdaySelected 'active'}} toggle">
          <div class="toggle-handle"></div>
        </div>
      </span>
    </li>
    <li class="table-view-cell">
      <span>Thursday</span>
      <span class="pull-right weathermatic-settings-input-small ">
        <div id="weathermatic-toggle-is-thursday-selected" class="{{if isThursdaySelected 'active'}} toggle">
          <div class="toggle-handle"></div>
        </div>
      </span>
    </li>
    <li class="table-view-cell">
      <span>Friday</span>
      <span class="pull-right weathermatic-settings-input-small ">
        <div id="weathermatic-toggle-is-friday-selected" class="{{if isFridaySelected 'active'}} toggle">
          <div class="toggle-handle"></div>
        </div>
      </span>
    </li>
    <li class="table-view-cell">
      <span>Saturday</span>
      <span class="pull-right weathermatic-settings-input-small ">
        <div id="weathermatic-toggle-is-saturday-selected" class="{{if isSaturdaySelected 'active'}} toggle">
          <div class="toggle-handle"></div>
        </div>
      </span>
    </li>
    <li class="table-view-cell table-view-divider">
      Omit Event Dates:
    </li>
    {{#each omissionDates as |od|}}
      <li class="table-view-cell">
        <span class='pull-left'>
          <span class='badge badge-primary'>{{od.number}}</span>
        </span>
        <span class="pull-right weathermatic-settings-input-small ">
          <select onchange={{action (mut od.object.monthNumber) value="target.value"}}>
            {{#each monthsOfYear as |month|}}
            <option value={{month.value}}
              selected={{eq month.value od.object.monthNumber}}>{{month.label}}</option>
            {{/each}}
          </select>

          <select onchange={{action (mut od.object.dayNumber) value="target.value"}}>
            {{#each daysOfMonth as |day|}}
              <option value="{{day.value}}"
                selected={{eq day.value od.object.dayNumber}}>{{day.label}}</option>
            {{/each}}
          </select>
        </span>
      </li>
    {{/each}}

  </ul>
  <div class="content-padded weathermatic-page-bottom">
    <button class="btn btn-block btn-positive" {{action 'save'}}>
      {{fa-icon 'save'}} Save Changes
    </button>
  </div>

</div>

{{!
  `actionReceiver` attribute exposes component action to the outside world.
  Uses this add-on: https://github.com/GavinJoyce/ember-component-inbound-actions
}}
{{loading-modal actionReceiver=loadingModal loadingFinished='loadingFinished' loadingAbandoned='loadingAbandoned'}}
