<header class="bar bar-nav weathermatic-header">
  {{#link-to 'smartlink-controller.settings.index' model class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}

  <h1 class="title">{{fa-icon 'gear'}} Advanced Settings</h1>
</header>

<div class="content weathermatic-content">
  <ul class="table-view">
    <li class="table-view-cell">
      <span>Number of Starts</span>
      <span class="pull-right weathermatic-settings-input-small">
        {{view 'select' content=availableNumberOfStarts}}
      </span>
    </li>
    <li class="table-view-cell">
      <span>SLW Delay</span>
      <span class="pull-right weathermatic-settings-input-medium">
        {{view 'select' content=availableSlwDelayHours
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell">
      <span>Rain Delay</span>
      <span class="pull-right weathermatic-settings-input-medium">
        {{view 'select' content=availableRainDelayDays
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell">
      <span>Zone-to-zone Delay</span>
      <span class="pull-right weathermatic-settings-input-medium">
        {{view 'select' content=availableZoneToZoneDelay
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell">
      <span>Master Valve/Zone-on Delay</span>
      <span class="pull-right weathermatic-settings-input-medium">
        {{view 'select' content=availableMasterValveZoneOnDelay
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell">
      <span>Master Valve/Zone-off Delay</span>
      <span class="pull-right weathermatic-settings-input-medium">
        {{view 'select' content=availableMasterValveZoneOffDelay
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell">
      <span>Automatically Set Time</span>
      <div id="weathermatic-toggle-realtime-flow-enabled" class="{{if model.isAutomaticallySetTime 'active'}} toggle">
        <div class="toggle-handle"></div>
      </div>
    </li>
  </ul>
  <div class="content-padded">
    <button class="btn btn-block btn-positive" {{action 'save'}}>
      {{fa-icon 'save'}} Save Changes
    </button>
  </div>
</div>

{{!
  `actionReceiver` attribute exposes component action to the outside world.
  Uses this add-on: https://github.com/GavinJoyce/ember-component-inbound-actions
}}
{{loading-modal actionReceiver=loadingModal loadingFinished='loadingFinished' loadingAbandoned='loadingAbandoned'}}
