<header class="bar bar-nav weathermatic-header">
  {{#link-to 'smartlink-controller.settings.program-run-times' model.smartlinkController class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}

  <h1 class="title">{{fa-icon 'gear'}} Program Run Time</h1>
</header>

<div class="content weathermatic-content">
  {{need-send-message smartlinkController=model.smartlinkController transmit='transmit'}}

  <ul class="table-view">
    <li class="table-view-cell weathermatic-select-program-a">
      <span class="pull-left">
        <h3>Program A</h3>
        {{#if model.programZoneA.program.description.length}}
          <p class="weathermatic-program-description">{{short-text model.programZoneA.program.description}}</p>
        {{/if}}
      </span>
      <span class="pull-right weathermatic-settings-input-small">
        {{view 'select' content=availableProgramTimes value=model.programZoneA.formattedRunTime
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell weathermatic-select-program-b">
      <span class="pull-left">
        <h3>Program B</h3>
        {{#if model.programZoneB.program.description.length}}
          <p class="weathermatic-program-description">{{short-text model.programZoneB.program.description}}</p>
        {{/if}}
      </span>
      <span class="pull-right weathermatic-settings-input-small">
        {{view 'select' content=availableProgramTimes value=model.programZoneB.formattedRunTime
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell weathermatic-select-program-c">
      <span class="pull-left">
        <h3>Program C</h3>
        {{#if model.programZoneC.program.description.length}}
          <p class="weathermatic-program-description">{{short-text model.programZoneC.program.description}}</p>
        {{/if}}
      </span>
      <span class="pull-right weathermatic-settings-input-small">
        {{view 'select' content=availableProgramTimes value=model.programZoneC.formattedRunTime
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell weathermatic-select-program-d">
      <span class="pull-left">
        <h3>Program D</h3>
        {{#if model.programZoneD.program.description.length}}
          <p class="weathermatic-program-description">{{short-text model.programZoneD.program.description}}</p>
        {{/if}}
      </span>
      <span class="pull-right weathermatic-settings-input-small">
        {{view 'select' content=availableProgramTimes value=model.model.programZoneD.formattedRunTime
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
  </ul>
  <div class="content-padded">
    <button class="btn btn-block btn-positive" {{action 'save'}}>
      {{fa-icon 'save'}} Save Changes
    </button>
  </div>
</div>

{{!
  `actionReceiver` attribute exposes component action to the outside world.
  Uses this add-on: https://github.com/GavinJoyce/ember-component-inbound-actions
}}
{{loading-modal actionReceiver=loadingModal loadingFinished='loadingFinished' loadingAbandoned='loadingAbandoned'}}
