<header class="bar bar-nav weathermatic-header">
  {{#link-to 'smartlink-controller.settings' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}

  <h1 class="title">{{fa-icon 'times-circle-o'}} Omit Days &amp; Times</h1>
</header>

<div class="content weathermatic-content">
  <ul class="table-view weathermatic-page-bottom">
    <li class="table-view-cell table-view-divider">
        Omit Specific Times:
    </li>
    <li class="table-view-cell">
      <span> From </span>
      <span class="pull-right weathermatic-settings-input-small">
      	{{view 'select' content=availableOmitTimes value=omissionTime.startTimeHours
            optionLabelPath='content.label' optionValuePath='content.value'}}

      	{{view 'select' content=timeSuffix value=omissionTime.startTimeAmPm
            optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell">
      <span> To </span>
      <span class="pull-right weathermatic-settings-input-small">
      	{{view 'select' content=availableOmitTimes value=omissionTime.endTimeHours
      	    optionLabelPath='content.label' optionValuePath='content.value'}}

      	{{view 'select' content=timeSuffix value=omissionTime.endTimeAmPm
      	    optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell table-view-divider">
      Omit Days of Week:
    </li>
    <li class="table-view-cell">
      <span>Sunday</span>
      <span class="pull-right weathermatic-settings-input-small ">
    	  <div id="weathermatic-toggle-is-sunday-selected" class="{{if isSundaySelected 'active'}} toggle">
          <div class="toggle-handle"></div>
        </div>
      </span>
    </li>
    <li class="table-view-cell">
      <span>Monday</span>
      <span class="pull-right weathermatic-settings-input-small ">
        <div id="weathermatic-toggle-is-monday-selected" class="{{if isMondaySelected 'active'}} toggle">
          <div class="toggle-handle"></div>
        </div>
      </span>
    </li>
    <li class="table-view-cell">
      <span>Tuesday</span>
      <span class="pull-right weathermatic-settings-input-small ">
        <div id="weathermatic-toggle-is-tuesday-selected" class="{{if isTuesdaySelected 'active'}} toggle">
          <div class="toggle-handle"></div>
        </div>
      </span>
    </li>
    <li class="table-view-cell">
      <span>Wednesday</span>
      <span class="pull-right weathermatic-settings-input-small ">
        <div id="weathermatic-toggle-is-wednesday-selected" class="{{if isWednesdaySelected 'active'}} toggle">
          <div class="toggle-handle"></div>
        </div>
      </span>
    </li>
    <li class="table-view-cell">
      <span>Thursday</span>
      <span class="pull-right weathermatic-settings-input-small ">
        <div id="weathermatic-toggle-is-thursday-selected" class="{{if isThursdaySelected 'active'}} toggle">
          <div class="toggle-handle"></div>
        </div>
      </span>
    </li>
    <li class="table-view-cell">
      <span>Friday</span>
      <span class="pull-right weathermatic-settings-input-small ">
        <div id="weathermatic-toggle-is-friday-selected" class="{{if isFridaySelected 'active'}} toggle">
          <div class="toggle-handle"></div>
        </div>
      </span>
    </li>
    <li class="table-view-cell">
      <span>Saturday</span>
      <span class="pull-right weathermatic-settings-input-small ">
        <div id="weathermatic-toggle-is-saturday-selected" class="{{if isSaturdaySelected 'active'}} toggle">
          <div class="toggle-handle"></div>
        </div>
      </span>
    </li>
    <li class="table-view-cell table-view-divider">
      Omit Event Dates:
    </li>
    {{#each omissionDates as |od|}}
      <li class="table-view-cell">
        <span class='pull-left'>
          <span class='badge badge-primary'>{{od.number}}</span>
        </span>
        <span class="pull-right weathermatic-settings-input-small ">
          {{view 'select' content=monthsOfYear value=od.object.monthNumber
              optionLabelPath='content.label' optionValuePath='content.value'}}
          {{view 'select' content=daysOfMonth value=od.object.dayNumber
              optionLabelPath='content.label' optionValuePath='content.value'}}
        </span>
      </li>
    {{/each}}
    
  </ul>
</div>