<header class="bar bar-nav weathermatic-header">
  {{#link-to 'smartlink-controller.settings.seasonal-adjust' model.smartlinkController class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}

  <h1 class="title">{{fa-icon 'gear'}} Seasonal Adjust</h1>
</header>

<div class="content weathermatic-content">
  <br>
  <p>
    <strong class="pull-right" style="margin-right: 1em;">{{model.name}}</strong>
  </p>
  <br>
  <ul class="table-view">
    <li class="table-view-cell weathermatic-select-program-a">
      <span>Program A</span>
      <span class="pull-right weathermatic-settings-input-small">
        {{view 'select' content=availableSeasonalAdjustValues
          value=model.programASeasonalAdjust.percentage
          optionLabelPath='content.label'
          optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell weathermatic-select-program-b">
      <span>Program B</span>
      <span class="pull-right weathermatic-settings-input-small">
        {{view 'select' content=availableSeasonalAdjustValues
          value=model.programBSeasonalAdjust.percentage
          optionLabelPath='content.label'
          optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell weathermatic-select-program-c">
      <span>Program C</span>
      <span class="pull-right weathermatic-settings-input-small">
        {{view 'select' content=availableSeasonalAdjustValues
          value=model.programCSeasonalAdjust.percentage
          optionLabelPath='content.label'
          optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell weathermatic-select-program-d">
      <span>Program D</span>
      <span class="pull-right weathermatic-settings-input-small">
        {{view 'select' content=availableSeasonalAdjustValues
          value=model.programDSeasonalAdjust.percentage
          optionLabelPath='content.label'
          optionValuePath='content.value'}}
      </span>
    </li>
  </ul>
  <div class="content-padded">
    <button class="btn btn-block btn-positive" {{action 'save'}}>
      {{fa-icon 'save'}} Save Changes
    </button>
  </div>
</div>

{{!
  `actionReceiver` attribute exposes component action to the outside world.
  Uses this add-on: https://github.com/GavinJoyce/ember-component-inbound-actions
}}
{{loading-modal actionReceiver=loadingModal loadingFinished='loadingFinished' loadingAbandoned='loadingAbandoned'}}
