<header class="bar bar-nav weathermatic-header">
  {{#link-to 'smartlink-controller.settings.index' model class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}

  <h1 class="title">{{fa-icon 'gear'}} Advanced Settings</h1>
</header>

<div class="content weathermatic-content">
  {{need-send-message smartlinkController=model transmit='transmit'}}

  <ul class="table-view">
    <li class="table-view-cell">
      <span>Number of Starts</span>
      <span class="pull-right weathermatic-settings-input-medium">
        {{view 'select' content=availableNumberOfStarts value=model.numStarts}}
      </span>
    </li>
    <li class="table-view-cell">
      <span>SLW Delay</span>
      <span class="pull-right weathermatic-settings-input-medium">
        {{view 'select' content=availableSlwDelayHours value=model.slwDelay
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell">
      <span>Rain Delay</span>
      <span class="pull-right weathermatic-settings-input-medium">
        {{view 'select' content=availableRainDelayDays value=model.rainDelay
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell">
      <span>Zone-to-zone Delay</span>
      <span class="pull-right weathermatic-settings-input-medium">
        {{view 'select' content=availableZoneToZoneDelay value=model.interzoneDelay
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell">
      <span>Master Valve/Zone-on Delay</span>
      <span class="pull-right weathermatic-settings-input-medium">
        {{view 'select' content=availableMasterValveZoneOnDelay value=model.mvZoneOnDelay
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell">
      <span>Master Valve/Zone-off Delay</span>
      <span class="pull-right weathermatic-settings-input-medium">
        {{view 'select' content=availableMasterValveZoneOffDelay value=model.mvZoneOffDelay
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>

    {{#if model.hasSecondMasterValve}}
      <li class="table-view-cell">
        <span>Master Valve 2 / Zone-on Delay</span>
        <span class="pull-right weathermatic-settings-input-medium">
          {{view 'select' content=availableMasterValveZoneOnDelay value=model.mv2ZoneOnDelay
            optionLabelPath='content.label' optionValuePath='content.value'}}
        </span>
      </li>
      <li class="table-view-cell">
        <span>Master Valve 2 / Zone-off Delay</span>
        <span class="pull-right weathermatic-settings-input-medium">
          {{view 'select' content=availableMasterValveZoneOffDelay value=model.mv2ZoneOffDelay
            optionLabelPath='content.label' optionValuePath='content.value'}}
        </span>
      </li>
      <li class="table-view-cell">
        <span>Max Concurrent Programs</span>
        <span class="pull-right weathermatic-settings-input-medium">
          {{view 'select' content=availableMaxConcurrentProgramgs value=model.maxConcurrentPrograms}}
        </span>
      </li>
    {{/if}}

    <li class="table-view-cell">
      <span>Minimum Deficit</span>
      <span class="pull-right weathermatic-settings-input-medium">
        {{view 'select' content=availableMinDeficit value=model.minDeficit
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>
    <li class="table-view-cell">
      <span>Automatically Set Time</span>
      <div id="weathermatic-toggle-automatically-set-time" class="{{if model.autoSetTime 'active'}} toggle">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li class="table-view-cell">
      <span>DST Enabled</span>
      <div id="weathermatic-toggle-dst-enabled" class="{{if model.dstEnabled 'active'}} toggle">
        <div class="toggle-handle"></div>
      </div>
    </li>
    {{#if model.dstEnabled}}
      <li class="table-view-cell">
        <small>DST Start</small>
        <span class="pull-right weathermatic-settings-input-small">
          {{view 'select' content=availableDaysOfWeek value=model.dstStartDay
            optionLabelPath='content.label' optionValuePath='content.value'}}

          {{view 'select' content=availableWeeksOfMonth value=model.dstStartWeek
            optionLabelPath='content.label' optionValuePath='content.value'}}

          {{view 'select' content=availableMonths value=model.dstStartMonth
            optionLabelPath='content.label' optionValuePath='content.value'}}
        </span>
      </li>
      <li class="table-view-cell">
        <small>DST End</small>
        <span class="pull-right weathermatic-settings-input-small">
          {{view 'select' content=availableDaysOfWeek value=model.dstStopDay
            optionLabelPath='content.label' optionValuePath='content.value'}}

          {{view 'select' content=availableWeeksOfMonth value=model.dstStopWeek
            optionLabelPath='content.label' optionValuePath='content.value'}}

          {{view 'select' content=availableMonths value=model.dstStopMonth
            optionLabelPath='content.label' optionValuePath='content.value'}}
        </span>
      </li>
    {{/if}}
    <li class="table-view-cell">
      <span>Winterized</span>
      <div id="weathermatic-toggle-winterized" class="{{if model.winterized 'active'}} toggle">
        <div class="toggle-handle"></div>
      </div>
    </li>

    <li class="table-view-cell">
      <span>Aircard Comm Error Interval</span>
      <span class="pull-right weathermatic-settings-input-medium">
        {{view 'select' content=availableCommErrorIntervals
          value=model.commErrorInterval
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </span>
    </li>

  </ul>

  <div class="content-padded">
    <button class="btn btn-block btn-positive" {{action 'save'}}>
      {{fa-icon 'save'}} Save Changes
    </button>
  </div>

  <ul class="table-view">
    <li class="table-view-cell table-view-divider">
      Other settings
    </li>
    <li class="table-view-cell">
      {{#link-to 'smartlink-controller.settings.edit-zone-activations' model}}
        <strong>{{fa-icon 'gear spaced-icon'}} Zone Activations</strong>
        <p>Select which zones are active in Smartlink</p>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'smartlink-controller.settings.edit-zone-rain-sensor' model}}
        <strong>{{fa-icon 'umbrella spaced-icon'}} Rain Sensor Settings</strong>
        <p>Enable/disable the rain sensor by zone</p>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'smartlink-controller.settings.edit-zone-freeze-sensor' model}}
        <strong>{{fa-icon 'cloud spaced-icon'}} Freeze Sensor Settings</strong>
        <p>Enable/disable freeze sensor by zone</p>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'smartlink-controller.settings.edit-zone-sensor' model}}
        <strong>{{fa-icon 'retweet spaced-icon'}} Sensor Loop Settings</strong>
        <p>Enable/disable sensor loop by zone</p>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'smartlink-controller.settings.edit-zone-master-valve' model}}
        <strong>{{fa-icon 'gear spaced-icon'}} Master Valve Settings</strong>
        <p>Enable/disable master valve by zone</p>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'smartlink-controller.settings.edit-program-max-run'}}
        <strong>{{fa-icon 'sliders spaced-icon'}} Run/Soak Settings</strong>
        <p>Set program max run/min soak times by zone</p>
      {{/link-to}}
    </li>
  </ul>
  <div class="weathermatic-page-bottom"></div>
</div>

{{!
  `actionReceiver` attribute exposes component action to the outside world.
  Uses this add-on: https://github.com/GavinJoyce/ember-component-inbound-actions
}}
{{loading-modal actionReceiver=loadingModal loadingFinished='loadingFinished' loadingAbandoned='loadingAbandoned'}}
