<header class="bar bar-nav weathermatic-header">
  {{#link-to 'smartlink-controller.settings' model class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}

  <h1 class="title">{{fa-icon 'gear'}} Programming</h1>
</header>

<div class="content weathermatic-content">
  {{need-send-message smartlinkController=model transmit='transmit'}}

  <ul class="table-view weathermatic-page-bottom">
    <li class="table-view-cell">
      {{#link-to 'smartlink-controller.settings.program-details'}}
        <div class="media-body">
          <h2>{{fa-icon 'play spaced-icon'}} Program Details</h2>
          <p>Edit watering days and start times</p>
        </div>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'smartlink-controller.settings.program-run-times'}}
        <div class="media-body">
          <h2>{{fa-icon 'clock-o spaced-icon'}} Zone Run Times</h2>
          <p>Edit run times for programs</p>
        </div>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'smartlink-controller.settings.auto-adjust'}}
        <div class="media-body">
          <h2>{{fa-icon 'tree spaced-icon'}} {{t 'programming.smart'}}</h2>
          <p>Edit  {{t 'programming.smart'}} settings</p>
        </div>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'smartlink-controller.settings.edit-omit-times'}}
        <div class="media-body">
          <h2>{{fa-icon 'times-circle-o spaced-icon'}} Omit Days &amp; Times </h2>
          <p>Add watering blackout periods</p>
        </div>
      {{/link-to}}
    </li>
    <li class="table-view-cell">
      {{#link-to 'smartlink-controller.settings.seasonal-adjust'}}
        <div class="media-body">
          <h2>{{fa-icon 'calendar spaced-icon'}} Seasonal Adjust</h2>
          <p>Adjust programs for different seasons</p>
        </div>
      {{/link-to}}
    </li>
  </ul>
</div>

{{!
  `actionReceiver` attribute exposes component action to the outside world.
  Uses this add-on: https://github.com/GavinJoyce/ember-component-inbound-actions
}}
{{loading-modal actionReceiver=loadingModal loadingFinished='loadingFinished' loadingAbandoned='loadingAbandoned'}}
