<header class="bar bar-nav weathermatic-header">
  <a href="javascript:void(0)" class="btn btn-link btn-nav pull-left" {{action 'goBack'}}>
    <span class="icon icon-left-nav"></span>
  </a>

  <a href="javascript:void(0)" class="icon icon-gear pull-right" {{action 'openOptionsMenu'}}></a>
  <h1 class="title">{{fa-icon 'signal'}} {{short-text model.name size=15}}</h1>
</header>

{{#pull-to-refresh refreshData='refreshData'}}
  <div class="content weathermatic-content weathermatic-controller-page">
    <!-- accomodate around pull-to-refresh -->
    <div></div>

    {{need-send-message smartlinkController=model transmit='transmit'}}

    <div class="content-padded">
      {{#if model.canRunCommands}}
        <div class="card">
          <ul class="table-view">
            <li class="table-view-cell table-view-divider">
              {{fa-icon 'wrench spaced-icon'}} Actions
            </li>
            <li class="table-view-cell">
              {{#link-to 'smartlink-controller.select-program' class='push-right'}}
                {{fa-icon 'play spaced-icon' classNames="spaced-icon"}} Run Program
              {{/link-to}}
            </li>
            <li class="table-view-cell">
              {{#link-to 'smartlink-controller.select-zone' class='push-right'}}
                {{fa-icon 'leaf spaced-icon' classNames="spaced-icon"}} Run Zone
                {{/link-to}}
            </li>
            <li class="table-view-cell">
              {{#link-to 'smartlink-controller.select-valves' class='push-right'}}
                {{fa-icon 'crosshairs spaced-icon' classNames="spaced-icon"}} Locate Valve
              {{/link-to}}
            </li>
            <li class="table-view-cell">
              {{#link-to 'smartlink-controller.walk-site' class='push-right'}}
                {{fa-icon 'male spaced-icon' classNames="spaced-icon"}} Walk Site
              {{/link-to}}
            </li>
            <li class="table-view-cell">
              {{#link-to 'smartlink-controller.settings' class='push-right'}}
                {{fa-icon 'gear spaced-icon'}} Controller Programming
              {{/link-to}}
            </li>
            <li class="table-view-cell">
              {{#link-to 'smartlink-controller.inspections' class='push-right'}}
                {{fa-icon 'search spaced-icon'}} Inspections
              {{/link-to}}
            </li>
          </ul>
        </div>

        {{#link-to 'smartlink-controller.stop-all' class='btn btn-block btn-negative'}}
          {{fa-icon 'stop'}} Stop All
        {{/link-to}}
      {{else}}
        <span class="btn btn-block btn-negative btn-outlined">
          <h3>{{fa-icon 'warning'}} Limited Access</h3>
          <p>It looks like you are not allowed to run <br>remote commands on this controller</p>
        </span>
      {{/if}}
    </div>

    {{#if isLoading}}
      <div class="content-padded weathermatic-smartlink-controller-loading">
        <center>
          <i class="fa fa-refresh fa-spin fa-lg"></i>
        </center>
        <br>
      </div>
    {{/if}}

    <ul class="table-view">
      <li class="table-view-cell table-view-divider">
        {{fa-icon 'gears'}} Controller Details
      </li>
      <li class="table-view-cell">
        System Status
        <button class="btn {{runStatusCssClass}}">{{model.runStatusForHumans}}</button>
      </li>
      <li class="table-view-cell">
        Watering Mode

        {{#if model.isWateringModeStandard}}
          <button class="btn btn-primary">{{t 'programming.basic'}}</button>
        {{/if}}

        {{#if model.isWateringModeAuto}}
          <button class="btn btn-positive">{{t 'programming.smart'}}</button>
        {{/if}}
      </li>
      <li class="table-view-cell">
        Rain/Freeze
        {{#if model.isRainFreezeSensorEnabled}}
          <button class="btn btn-positive">Active</button>
        {{else}}
          <button class="btn btn-negative">Bypass</button>
        {{/if}}
      </li>
      <li class="table-view-cell">
        Weather
        {{#if model.weather.length}}
          <button class="btn {{if model.isWeatherBad 'btn-negative' 'btn-positive'}}">
            {{model.weather}}
          </button>
        {{else}}
          <button class="btn btn-primary">
            No Data
          </button>
        {{/if}}
      </li>

      {{#if model.faults.length}}
        <li class="table-view-cell table-view-divider">
          {{fa-icon 'warning'}} Faults <span class="badge badge-negative">{{model.faults.length}}</span>
        </li>
      {{/if}}
    </ul>

    {{#if model.faults.length}}
      <div class="content-padded weathermatic-controller-details-faults">
        {{#each model.faults as |fault|}}
          <button class="btn btn-negative fault-row">{{fault.description}}</button>
        {{/each}}

        {{#if model.canRunCommands}}
          {{#link-to 'smartlink-controller.clear-faults' class='btn btn-block btn-primary'}}
            {{fa-icon 'fa-refresh'}} {{t 'smartlinkController.clearFaults'}}
          {{/link-to}}
        {{/if}}
      </div>
    {{/if}}
  </div>
{{/pull-to-refresh}}

<div id="options-menu" class="modal {{if isOptionsMenuOpen 'active'}}">
  <header class="bar bar-nav weathermatic-header">
    <a class="icon icon-close pull-right" href="javascript:void(0)" {{action 'closeOptionsMenu'}}></a>
    <h1 class="title">{{fa-icon 'gear'}} Advanced Options</h1>
  </header>

  <div class="content weathermatic-content">
    <ul class="table-view">
      <li class="table-view-cell">
        <a href="javascript:void(0)" {{action 'openCommLog'}}>
          <div class="media-body">
            <h2>{{fa-icon 'list'}} Comm Log</h2>
            <p>View currently running and recent commands</p>
          </div>
        </a>
      </li>
      <li class="table-view-cell">
        <a href="javascript:void(0)" {{action 'refreshData'}}>
          <div class="media-body">
            <h2>{{fa-icon 'refresh'}} Re-sync</h2>
            <p>Refresh with the latest data from our servers</p>
          </div>
        </a>
      </li>
      <li class="table-view-cell">
        <a href="javascript:void(0)" {{action 'transmit' model}}>
          <div class="media-body">
            <h2>{{fa-icon 'cloud-upload'}} Send</h2>
            <p>Transmit your settings to your Smartlink device</p>
          </div>
        </a>
      </li>
      <li class="table-view-cell">
        <a href="javascript:void(0)" {{action 'receive' model}}>
          <div class="media-body">
            <h2>{{fa-icon 'cloud-download'}} Receive</h2>
            <p>Pull the latest settings from your Smartlink device</p>
          </div>
        </a>
      </li>
    </ul>

    <div class="content-padded">
      <button class="btn btn-negative btn-block" {{action 'closeOptionsMenu'}}>
        {{fa-icon 'times-circle'}} Close
      </button>
    </div>
  </div>
</div>

{{!
  `actionReceiver` attribute exposes component action to the outside world.
  Uses this add-on: https://github.com/GavinJoyce/ember-component-inbound-actions
}}
{{comm-log smartlinkController=model showNow=showCommLog close='commLogClosed' actionReceiver=commLog}}

{{!
  `actionReceiver` attribute exposes component action to the outside world.
  Uses this add-on: https://github.com/GavinJoyce/ember-component-inbound-actions
}}
{{loading-modal actionReceiver=loadingModal loadingFinished='loadingFinished' loadingAbandoned='loadingAbandoned'}}
