<header class="bar bar-nav">
  {{#link-to 'site' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <h1 class="title">{{fa-icon 'signal'}} {{model.site.name}} - {{model.name}}</h1>
  <a href="javascript:void(0)" class="icon icon-refresh pull-right"></a>
</header>


<div class="content">
  <div class="content-padded">
    <div class="card">
      <ul class="table-view">
        <li class="table-view-cell table-view-divider">
          {{fa-icon 'wrench'}} Actions
        </li>
        <li class="table-view-cell">
          {{#link-to 'smartlink-controller.select-program' class='push-right'}}
            {{fa-icon 'play'}} Run Program
          {{/link-to}}
        </li>
        <li class="table-view-cell">
          {{#link-to 'smartlink-controller.select-zone' class='push-right'}}
            {{fa-icon 'leaf'}} Run Zone
            {{/link-to}}
        </li>
        <li class="table-view-cell">
          {{#link-to 'smartlink-controller.select-valves' class='push-right'}}
            {{fa-icon 'crosshairs'}} Locate Valve
          {{/link-to}}
        </li>
        <li class="table-view-cell">
          {{#link-to 'smartlink-controller.walk-site' class='push-right'}}
            {{fa-icon 'male'}} Walk Site
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>

  <ul class="table-view">
    <li class="table-view-cell table-view-divider">
      {{fa-icon 'gears'}} Controller Details
    </li>
    <li class="table-view-cell">
      Status <button {{bind-attr class='model.isRunning:btn-positive:btn-primary :btn'}}>{{model.status}}</button>
    </li>
    <li class="table-view-cell">
      Watering Mode
      <button {{bind-attr class='model.isSmartWateringMode:btn-positive:btn-primary :btn'}}>
        {{model.wateringMode}}
      </button>
    </li>
    <li class="table-view-cell">
      Rain/Freeze
      {{#if model.rainFreezeProtection}}
        <button class="btn btn-positive">Active</button>
      {{else}}
        <button class="btn btn-primary">Off</button>
      {{/if}}
    </li>
    <li class="table-view-cell">
      Weather
      <button {{bind-attr class='model.isWeatherNormal:btn-positive:btn-primary :btn'}}>
        {{model.weather}}
      </button>
    </li>

    {{#if model.faults.length}}
      <li class="table-view-cell table-view-divider">
        {{fa-icon 'warning'}} Faults <span class="badge badge-negative">{{model.faults.length}}</span>
      </li>
    {{/if}}

    </ul>

    {{#if model.faults.length}}
    <div class="content-padded weathermatic-controller-details-faults">
      {{#each fault in model.faults}}
        <button class="btn btn-negative">{{fault.text}}</button>
      {{/each}}
    </div>
  {{/if}}
</div>
