<header class="bar bar-nav weathermatic-header weathermatic-left-nav-only">
  {{#link-to 'smartlink-controller.select-program' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <h1 class="title">
    {{fa-icon 'signal'}} {{short-text smartlinkController.name size=15}} - Run Program
  </h1>
</header>

<div class="content weathermatic-content">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider">
      Confirm Program
    </li>
    <li class="table-view-cell">
      Site
      <button class="btn">
        {{fa-icon 'building'}} {{model.smartlinkController.site.name}}
      </button>
    </li>
    <li class="table-view-cell">
      Controller
      <button class="btn">
        {{fa-icon 'signal'}} {{model.smartlinkController.name}}
      </button>
    </li>
  </ul>

  <div class="content-padded">
    <p>We're about to run</p>
  </div>
  <span class="btn btn-block weathermatic-btn-run-program {{cssClass}}">
    <h3>{{fa-icon 'play'}} Program {{upper-case model.identifier}}</h3>
    {{#if model.description.length}}
      <p class="weathermatic-run-program-description">
        {{model.description}}
      </p>
    {{/if}}
  </span>

  <div class="content-padded">
    <p>Ready?</p>

    <button class="btn btn-block btn-positive" {{action 'runProgram'}}>
      {{fa-icon 'check'}} Go!
    </button>

    {{#link-to 'smartlink-controller' class='btn btn-block btn-negative'}}
      {{fa-icon 'times-circle'}} Cancel
    {{/link-to}}
  </div>
</div>

{{!
  `actionReceiver` attribute exposes component action to the outside world.
  Uses this add-on: https://github.com/GavinJoyce/ember-component-inbound-actions
}}
{{loading-modal actionReceiver=loadingModal loadingFinished='loadingFinished' loadingAbandoned='loadingAbandoned'}}
