<header class="bar bar-nav weathermatic-header weathermatic-left-nav-only">
  {{#link-to 'smartlink-controller.select-zone' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <h1 class="title">{{fa-icon 'signal'}} {{short-text model.smartlinkController.name size=15}} - Run Zone</h1>
</header>

<div class="content weathermatic-content">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider">
      Confirm Zone
    </li>
    <li class="table-view-cell">
      Site <button class="btn btn-outlined btn-primary"> {{fa-icon 'building'}} {{model.smartlinkController.site.name}}</button>
    </li>
    <li class="table-view-cell">
      Controller <button class="btn btn-outlined btn-primary"> {{fa-icon 'signal'}} {{model.smartlinkController.name}}</button>
    </li>
  </ul>

  <div class="content-padded">
    <p>We're about to run</p>

    <span class="btn btn-block btn-primary btn-outlined">
      <h3 class="run-zone-heading">{{fa-icon 'leaf'}} Zone {{model.number}}</h3>
      {{#if model.description}}
        <p>{{model.description}}</p>
      {{/if}}
    </span>

    <form class="weathermatic-run-zone-select-run-time">
      <p>for this amount of time</p>
      <center>
        {{view 'select' content=availableRunTimeHours value=runTimeHours
          optionLabelPath='content.label' optionValuePath='content.value'}} :

        {{view 'select' content=availableRunTimeMinutes value=runTimeMinutes
          optionLabelPath='content.label' optionValuePath='content.value'}}

        <strong>HH:MM</strong>
      </center>
    </form>

    <p>Ready?</p>

    <button class="btn btn-block btn-positive" {{action 'runZone'}}>
      {{fa-icon 'check'}} Go!
    </button>

    {{#link-to 'smartlink-controller' class='btn btn-block btn-negative'}}
      {{fa-icon 'times-circle'}} Cancel
    {{/link-to}}
  </div>
</div>

{{!
  `actionReceiver` attribute exposes component action to the outside world.
  Uses this add-on: https://github.com/GavinJoyce/ember-component-inbound-actions
}}
{{loading-modal actionReceiver=loadingModal loadingFinished='loadingFinished' loadingAbandoned='loadingAbandoned'}}
