<header class="bar bar-nav">
  {{#link-to 'smartlink-controller' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <h1 class="title">{{fa-icon 'signal'}} {{smartlinkController.name}} - Select Program</h1>
</header>

<div class="content">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider weathermatic-select-program-call-to-action">
      {{fa-icon 'play'}} Select a Program
    </li>
    {{#each program in controller}}
      <li {{bind-attr class=':table-view-cell :weathermatic-select-program program.cssClass'}}>
        {{#link-to 'smartlink-controller.run-program' program.model class='push-right'}}
          <h3>Run Program {{upper-case program.model.identifier}}</h3>
        {{/link-to}}
        <br>
      </li>
    {{/each}}
  </ul>

  <div class="content-padded">
    {{#link-to 'smartlink-controller' class='btn btn-block btn-negative'}}
      {{fa-icon 'times-circle'}} Cancel
    {{/link-to}}
  </div>
</div>
