<header class="bar bar-nav">
  {{#link-to 'smartlink-controller' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <h1 class="title">{{fa-icon 'signal'}} {{smartlinkController.name}} - Locate Valves</h1>
</header>

<div class="content">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider">
      {{fa-icon 'crosshairs'}} Select a Zone
    </li>
    {{#each zone in controller}}
      <li class="table-view-cell">
        {{#link-to 'smartlink-controller.locate-valves' zone.id class='push-right'}}
          Locate Zone {{zone.number}}
          <p>{{zone.description}}</p>
        {{/link-to}}
      </li>
      {{/each}}
  </ul>
</div>
