<header class="bar bar-nav weathermatic-header weathermatic-left-nav-only">
  {{#link-to 'smartlink-controller' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <h1 class="title">{{fa-icon 'signal'}} {{short-text smartlinkController.name size=15}} - Locate Valves</h1>
</header>

<div class="content weathermatic-content">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider">
      {{fa-icon 'crosshairs'}} Select a Zone
    </li>
    {{#each zone in controller}}
      <li class="table-view-cell">
        {{#link-to 'smartlink-controller.locate-valves' zone.id class='push-right'}}
          {{#if zone.description}}
            Locate Zone: {{short-text zone.description size=20}}
            <p>Zone {{zone.number}}</p>
          {{else}}
            Locate Zone {{zone.number}}
          {{/if}}
        {{/link-to}}
      </li>
    {{else}}
      <li class="table-view-cell weathermatic-error-list-item">
        <center>
          <h1 class="weathermatic-warning-icon">
            {{fa-icon 'warning fa-3x'}}
          </h1>
          <h4>
            No zones set up for this controller
          </h4>
        </center>
      </li>
    {{/each}}
  </ul>
</div>
