{{#liquid-bind model use=transition as |model|}}
<header class="bar bar-nav weathermatic-header weathermatic-left-nav-only">
  {{#link-to 'smartlink-controller' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <h1 class="title">{{fa-icon 'search spaced-icon'}} {{short-text smartlinkController.name size=15}} Inspections</h1>
</header>

<div class="content weathermatic-content">
  <ul class="table-view weathermatic-page-bottom">
    <li class="table-view-cell table-view-divider">
      {{fa-icon 'search'}} Select an Inspection or Create One
    </li>
    <li class="table-view-cell">
        {{#link-to 'smartlink-controller.inspections.new-inspection' class='push-right'}}
          Create Inspection
          <p>Click to create an inspection</p>
        {{/link-to}}
    </li>
    {{#each model as |inspection|}}
      <li class="table-view-cell">
        {{#link-to 'smartlink-controller.inspections.select-inspection' inspection.id class='push-right'}}
          {{#if inspection.title}}
            {{inspection.title}}
          {{else}}
            Inspection {{inspection.id}}
          {{/if}}
          {{#if inspection.created_at}}
          <p>{{inspection.created_at}}</p>
          {{/if}}
        {{/link-to}}
      </li>
    {{else}}
      <li class="table-view-cell weathermatic-error-list-item">
        <center>
          <h1 class="weathermatic-warning-icon">
            {{fa-icon 'warning fa-3x'}}
          </h1>
          <h4>
            No inspections set up for this controller
          </h4>
        </center>
      </li>
    {{/each}}
  </ul>
</div>
{{/liquid-bind}}