{{#liquid-bind model use=transition as |model|}}
<header class="bar bar-nav weathermatic-header weathermatic-left-nav-only">
  {{#link-to 'smartlink-controller.inspections' class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <h1 class="title">{{fa-icon 'fa-clipboard spaced-icon'}} {{short-text smartlinkController.name size=15}} Inspections</h1>
  <button type="button" class="menu-option" {{action 'openEmailInspectionMenu'}}>
    {{fa-icon 'fa-envelope'}}
  </button>
</header>

<div class="content weathermatic-content">
  {{need-send-message smartlinkController=model transmit='transmit'}}
  <ul class="table-view weathermatic-page-bottom">
    <li class="table-view-cell table-view-divider">
      {{fa-icon 'leaf'}} Inspection Options
    </li>
    {{#each model.inspectionDetail as |inspection|}}
      <li class="table-view-cell">
        {{#link-to inspection.link class='push-right'}}
          {{inspection.option}}
          {{#if inspection.description}}
          <p>{{inspection.description}}</p>
          {{else}}
          <p>&nbsp;</p>
          {{/if}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
{{/liquid-bind}}

<div id="auto-adjust-menu" class="modal select-inspection {{if isEmailInspectionOpen 'active'}}">
  <header class="bar bar-nav weathermatic-header">
    <a class="icon icon-close pull-right" href="javascript:void(0)" {{action 'closeEmailInspectionMenu'}}></a>
    <h1 class="title">{{fa-icon 'bookmark'}} Email Inspection</h1>
  </header>
  <form class="weathermatic-page-bottom email-inspection-form">
    <label for="title">What email(s) would you like to send the inspection to?</label>
    <input id="title" type="text" />
    <label for="date">What type of file do you want to attach:</label>
    <div class="same-line" style="width: 100%">
      <div class="radio-button"><input type="radio" name="pdf" value="PDF" checked>PDF</div>
      <div class="radio-button"><input type="radio" name="xls" value="XLS">Other</div>
    </div>
    <label for="inspection-type">Do you want to include photos?</label>
    <div class="same-line" style="width: 100%">
      <div class="radio-button"><input type="radio" name="yes" value="Yes" checked>Yes</div>
      <div class="radio-button"><input type="radio" name="no" value="No">No</div>
    </div>
    <div class="center-buttons">
      {{#link-to 'smartlink-controller.inspections'}}
        <button class="btn btn-positive">Cancel</button>
      {{/link-to}}
      {{#link-to 'smartlink-controller.inspections'}}
        <button class="btn btn-negative">Send</button>
      {{/link-to}}
    </div>
  </form>
</div>