{{#liquid-with model as model use=transition}}
<header class="bar bar-nav weathermatic-header">
  {{#link-to 'smartlink-controller' model.smartlinkController class='btn btn-link btn-nav pull-left'}}
    <span class="icon icon-left-nav"></span>
  {{/link-to}}
  <a href="javascript:void(0)" class="icon icon-gear pull-right" {{action 'openOptionsMenu'}}></a>
  <h1 class="title">{{fa-icon 'signal'}} {{short-text smartlinkController.name size=10}} - Walk Site</h1>
</header>

<div class="content weathermatic-content">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider">
      {{fa-icon 'male'}} Walk Site
    </li>
    <li class="table-view-cell">
      Site <button class="btn btn-outlined btn-primary"> {{fa-icon 'building'}} {{model.smartlinkController.site.name}}</button>
    </li>
    <li class="table-view-cell">
      Controller <button class="btn btn-outlined btn-primary"> {{fa-icon 'signal'}} {{model.smartlinkController.name}}</button>
    </li>
  </ul>

  <div class="content-padded">
    <span class="btn btn-block btn-primary btn-outlined">
      {{#if model.description}}
        <h3>
          {{fa-icon 'male'}} {{short-text model.description size=20}}
        </h3>
        <p>Zone {{model.number}}</p>
      {{else}}
        <h3>
          {{fa-icon 'male'}} Zone {{model.number}}
        </h3>
      {{/if}}
    </span>
  </div>

  {{#if model.photo}}
    <div class="content-padded weathermatic-jump-to-zone show-zone-image">
      <button class="btn btn-block btn-show-zone-image" {{action 'openZoneImageView'}}>
        {{fa-icon 'photo'}} View Zone Image
      </button>
    </div>
  {{/if}}

  <div class="content-padded weathermatic-jump-to-zone">
    <button class="btn btn-block" {{action 'openJumpToZone'}}>
      {{fa-icon 'leaf'}} Jump to Zone
    </button>
  </div>

  <div class="walk-site-nav-container">
    <center class="walk-site-controls">
      <button class="btn btn-block btn-positive walk-site-control" {{action 'start'}}>
        {{fa-icon 'play'}} Start
      </button>

      <button class="btn btn-block btn-negative walk-site-control" {{action 'stop'}}>
        {{fa-icon 'stop'}} Stop
      </button>

      <button class="btn btn-block btn-auto-adjust walk-site-control" {{action 'openAutoAdjust'}}>
        Configure Auto-Adjust
      </button>

      <a class="btn walk-site-control upload-image-control">
        {{#if model.isLoading}}
          <p>{{fa-icon 'circle-o-notch fa-spin'}} Uploading...</p>
        {{else}}
          <p class="upload-image-title">Upload Image:</p>
        {{/if}}
          <form id="image-upload" enctype="multipart/form-data" method="POST">
            <input id="image-upload-input" class="align-center" type="file" name="photo" />
          </form>
      </a>
    </center>

    {{#if isPreviousZoneAvailable}}
      <button class="walk-site-prev-zone" {{action 'goToPreviousZone'}}>
        <span class="icon icon-left-nav"></span>
      </button>
    {{else}}
      <button class="walk-site-prev-zone walk-zone-disabled">
        <span class="icon icon-left-nav"></span>
      </button>
    {{/if}}

    {{#if isNextZoneAvailable}}
      <button class="walk-site-next-zone" {{action 'goToNextZone'}}>
        <span class="icon icon-right-nav"></span>
      </button>
    {{else}}
      <button class="walk-site-next-zone walk-zone-disabled">
        <span class="icon icon-right-nav"></span>
      </button>
    {{/if}}
  </div>
</div>

<div id="options-menu" {{bind-attr class=':modal isOptionsMenuOpen:active'}}>
  <header class="bar bar-nav weathermatic-header">
    <a class="icon icon-close pull-right" href="javascript:void(0)" {{action 'closeOptionsMenu'}}></a>
    <h1 class="title">{{fa-icon 'gear'}} Advanced Options</h1>
  </header>

  <div class="content weathermatic-content">
    <ul class="table-view">
      <li class="table-view-cell">
        <a href="javascript:void(0)" {{action 'openCommLog'}}>
          <div class="media-body">
            <h2>{{fa-icon 'list'}} Comm Log</h2>
            <p>View currently running and recent commands</p>
          </div>
        </a>
      </li>
    </ul>

    <div class="content-padded">
      <button class="btn btn-negative btn-block" {{action 'closeOptionsMenu'}}>
        {{fa-icon 'times-circle'}} Close
      </button>
    </div>
  </div>
</div>

<div id="auto-adjust-menu" {{bind-attr class=':modal isAutoAdjustMenuOpen:active'}}>
  <header class="bar bar-nav weathermatic-header">
    <a class="icon icon-close pull-right" href="javascript:void(0)" {{action 'closeAutoAdjust'}}></a>
    <h1 class="title">{{fa-icon 'gear'}} Auto Adjust Settings</h1>
  </header>

  <center>
    <form class="weathermatic-zone-configure-auto-adjust">
      <p>Zone Name:</p>
      <center>
        {{input value=model.description}}
      </center>

      <p>Sprinkler Type:</p>
      <center>
        {{view 'select' content=availableSprinklerTypes value=model.sprinklerType
        optionLabelPath='content.label' optionValuePath='content.value'}}
      </center>

      <p>Plant Type:</p>
      <center>
        {{view 'select' content=availablePlantTypes value=model.plantType
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </center>

      <p>Soil Type:</p>
      <center>
        {{view 'select' content=availableSoilTypes value=model.soilType
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </center>

      <p>Soil Slope:</p>
      <center>
        {{view 'select' content=availableSoilSlopes value=model.soilSlope
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </center>

      <p>More/Less:</p>
      <center>
        {{view 'select' content=availableMoreLess value=model.adjustment
          optionLabelPath='content.label' optionValuePath='content.value'}}
      </center>
    </form>

    <div class="content-padded">
      <button class="btn btn-positive btn-block btn-auto-adjust-menu" {{action 'saveAutoAdjust'}}>
        Save
      </button>
      <button class="btn btn-negative btn-block btn-auto-adjust-menu" {{action 'closeAutoAdjust'}}>
        Cancel
      </button>
    </div>
  </center>
</div>

<div id="zone-image-view" {{bind-attr class=':modal isZoneImageViewOpen:active'}}>
  <header class="bar bar-nav weathermatic-header">
    <a class="icon icon-close pull-right" href="javascript:void(0)" {{action 'closeZoneImageView'}}></a>
    <h1 class="title">{{fa-icon 'photo'}} Zone Image</h1>
  </header>

  <img id="zone-image" {{bind-attr src=model.photo}} />
</div>

<div id="jump-to-zone" {{bind-attr class=':modal isJumpToZoneOpen:active'}}>
  <header class="bar bar-nav weathermatic-header">
    <a class="icon icon-close pull-right" href="javascript:void(0)" {{action 'closeJumpToZone'}}></a>
    <h1 class="title">{{fa-icon 'leaf'}} Jump to Zone</h1>
  </header>

  <div class="content weathermatic-content">
    <ul class="table-view">
      {{#each zone in model.smartlinkController.zones}}
        <li class="table-view-cell high-contrast">
          <a href="javascript:void(0)" class="push-right" {{action 'jumpToZone' zone}}>
            {{#if zone.description}}
              {{short-text zone.description size=30}}
              <p>Zone {{zone.number}}</p>
            {{else}}
               Zone {{zone.number}}
            {{/if}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

{{/liquid-with}}

{{!
  `actionReceiver` attribute exposes component action to the outside world.
  Uses this add-on: https://github.com/GavinJoyce/ember-component-inbound-actions
}}
{{loading-modal actionReceiver=loadingModal loadingFinished='loadingFinished' loadingAbandoned='loadingAbandoned'}}

{{comm-log smartlinkController=model.smartlinkController close='commLogClosed' actionReceiver=commLog}}
