<header class="bar bar-nav">
  <h1 class="title">Smartlink Network</h1>
  <a href="javascript:void(0)" class="icon icon-refresh pull-right"></a>
</header>

<div class="content">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider">
      {{fa-icon 'building'}} Your Sites
      <button class="btn btn-outlined">
        {{fa-icon 'globe'}} sorted by location
      </button>
    </li>
    {{#each site in model}}
      <li class="table-view-cell media">
        {{#link-to 'site' site.id class='navigate-right'}}
          <div class="media-body">
            <strong>{{site.name}}</strong>
            {{#if site.faultsCount}}
              <span class="badge badge-negative pull-right">{{site.faultsCount}} faults</span>
            {{/if}}
            <p>
              <small class="badge">{{site.cityState}}</small>
              <small class="badge">{{site.controllersCount}} controllers</small>
              <small class="badge">{{site.milesAway}} mi</small>
            </p>
          </div>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
  {{#if moreSitesAvailable}}
    <div class="content-padded">
      <button class="btn btn-block" {{action 'loadMore'}}>
        {{#if isLoading}}
          {{fa-icon 'refresh fa-spin'}}
        {{else}}
          {{fa-icon 'refresh'}}
        {{/if}}
        Load More
      </button>
    </div>
  {{/if}}
</div>
