<header class="bar bar-nav">
  <h1 class="title">Smartlink Network</h1>
  <a href="javascript:void(0)" class="icon icon-refresh pull-right" {{action 'refreshData'}}></a>
</header>

<div id="sites-list-container" class="content">
  <ul class="table-view">
    <li class="table-view-cell table-view-divider">
      {{fa-icon 'building'}} Your Sites
      <button class="btn btn-outlined" {{action 'openSortOptions'}}>
        {{#if isSortByProximity}}
          {{fa-icon 'globe'}} sorted by location
        {{/if}}
        {{#if isSortByAlpha}}
          {{fa-icon 'sort-alpha-asc'}} sorted by name
        {{/if}}
      </button>
    </li>
    {{#each site in model}}
      <li class="table-view-cell media">
        {{#link-to 'site' site.id class='navigate-right'}}
          <div class="media-body">
            <strong>{{site.name}}</strong>
            {{#if site.faultsCount}}
              <span class="badge badge-negative pull-right">{{site.faultsCount}} faults</span>
            {{/if}}
            <p>
              <small class="badge">{{site.cityState}}</small>
              <small class="badge">{{site.controllersCount}} controllers</small>
              <small class="badge">{{site.milesAway}} mi</small>
            </p>
          </div>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
  {{#if moreSitesAvailable}}
    <div class="content-padded loading-icon">
      <center>{{fa-icon 'refresh fa-spin'}} Loading…</center>
    </div>
  {{/if}}
</div>

<div id="sites-sort-options" {{bind-attr class=':modal openSortOptions:active'}}>
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="javascript:void(0)" {{action 'closeSortOptions'}}></a>
    <h1 class="title">Sort Options</h1>
  </header>

  <div class="content">
    <div class="content-padded">
      <ul class="table-view">
        <li class="table-view-cell">
          <a href="javascript:void(0)" {{action 'setSortMethod' 'proximity'}}>
            <div class="media-body">
              <h2>{{fa-icon 'globe'}} Sort by Location</h2>
              <p>Nearest sites will appear first</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell">
          <a href="javascript:void(0)" {{action 'setSortMethod' 'alpha'}}>
            <div class="media-body">
              <h2>{{fa-icon 'sort-alpha-asc'}} Sort by Name</h2>
              <p>Sites will appear A-Z by name</p>
            </div>
          </a>
        </li>
      </ul>

      <button class="btn btn-negative btn-block" {{action 'closeSortOptions'}}>
        {{fa-icon 'times-circle'}} Cancel
      </button>
    </div>
  </div>
</div>
