<header class="bar bar-nav weathermatic-header">
  <a href="javascript:void(0)" {{bind-attr class=':icon searchIcon :pull-left'}} {{action 'toggleSearch'}}></a>
  <div class="weathermatic-logo-container">
    <img src="assets/images/sl-logo.png" class="weathermatic-logo">
  </div>
  <a href="javascript:void(0)" class="icon icon-gear pull-right" {{action 'openOptionsMenu'}}></a>
</header>

<div id="sites-list-container" class="content weathermatic-content">
  <ul class="table-view">
    <li {{bind-attr class=':content-padded :weathermatic-sites-search isSearchEnabled:shown:hidden'}}>
      {{input type='search' placeholder='Search Sites' value=search}}
      <button {{bind-attr disabled=isSearchEmpty}} {{action 'performSearch'}}
        class="btn btn-inverse btn-primary btn-block">{{fa-icon 'search'}} Search</button>
    </li>
    <li class="table-view-cell table-view-divider">
      {{fa-icon 'building'}} Your Sites
      <button class="btn btn-outlined" {{action 'openSortOptions'}}>
        {{#if isSortByProximity}}
          {{fa-icon 'globe'}} sorted by location
        {{/if}}
        {{#if isSortByAlpha}}
          {{fa-icon 'sort-alpha-asc'}} sorted by name
        {{/if}}
      </button>
    </li>
    {{#each site in model}}
      <li class="table-view-cell media">
        {{#link-to 'site' site.id class='navigate-right'}}
          <div class="media-body">
            <strong>{{site.name}}</strong>
            {{#if site.faultsCount}}
              <span class="badge badge-negative pull-right">{{site.faultsCount}} faults</span>
            {{/if}}
            <p>
              <small class="badge">{{site.cityState}}</small>
              <small class="badge">{{site.controllersCount}} controllers</small>
              <small class="badge">{{format-number site.milesAway round=true}} mi</small>
            </p>
          </div>
        {{/link-to}}
      </li>
    {{else}}
      {{#unless isLoading}}
        <li class="table-view-cell media">
          <center>
            <h1>{{fa-icon 'times'}} Not found</h1>
            {{#if lastSearch.length}}
              <p>We didn't find any sites that match:</p>
              <h2 class="weathermatic-search-not-found-term">{{lastSearch}}</h2>
            {{/if}}
          </center>
        </li>
      {{/unless}}
    {{/each}}
  </ul>
  {{#if shouldShowLoading}}
    <div class="content-padded loading-icon">
      <center>{{fa-icon 'refresh fa-spin'}} Loading…</center>
    </div>
  {{/if}}
</div>

<div id="options-menu" {{bind-attr class=':modal openOptionsMenu:active'}}>
  <header class="bar bar-nav weathermatic-header">
    <a class="icon icon-close pull-right" href="javascript:void(0)" {{action 'closeOptionsMenu'}}></a>
    <h1 class="title">{{fa-icon 'gear'}} Options</h1>
  </header>

  <div class="content weathermatic-content">
    <ul class="table-view">
      <li class="table-view-cell">
        <a href="javscript:void(0)" {{action 'logOut'}}>
          <div class="media-body">
            <h2>{{fa-icon 'sign-out'}} Log out</h2>
            <p>Enter your email and password to log back in</p>
          </div>
        </a>
      </li>
      <li class="table-view-cell">
        <a href="javascript:void(0)" {{action 'syncSites'}}>
          <div class="media-body">
            <h2>{{fa-icon 'refresh'}} Sync Sites</h2>
            <p>Refresh the latest data from our servers</p>
          </div>
        </a>
      </li>
      <li class="table-view-cell">
        <a href="javascript:void(0)" {{action 'openSortOptions'}}>
          <div class="media-body">
            <h2>{{fa-icon 'sort'}} Sort Sites</h2>
            <p>Change the sort order for the sites list</p>
          </div>
        </a>
      </li>
    </ul>

    <div class="content-padded">
      <button class="btn btn-negative btn-block" {{action 'closeOptionsMenu'}}>
        {{fa-icon 'times-circle'}} Close
      </button>
    </div>
  </div>
</div>

<div id="sites-sort-options" {{bind-attr class=':modal openSortOptions:active'}}>
  <header class="bar bar-nav weathermatic-header">
    <a class="icon icon-close pull-right" href="javascript:void(0)" {{action 'closeSortOptions'}}></a>
    <h1 class="title">{{fa-icon 'sort'}} Sort Options</h1>
  </header>

  <div class="content weathermatic-content">
    <ul class="table-view">
      <li class="table-view-cell">
        <a href="javascript:void(0)" {{action 'setSortMethod' 'proximity'}}>
          <div class="media-body">
            <h2>{{fa-icon 'globe'}} Sort by Location</h2>
            <p>Nearest sites will appear first</p>
          </div>
        </a>
      </li>
      <li class="table-view-cell">
        <a href="javascript:void(0)" {{action 'setSortMethod' 'alpha'}}>
          <div class="media-body">
            <h2>{{fa-icon 'sort-alpha-asc'}} Sort by Name</h2>
            <p>Sites will appear A-Z by name</p>
          </div>
        </a>
      </li>
    </ul>

    <div class="content-padded">
      <button class="btn btn-negative btn-block" {{action 'closeSortOptions'}}>
        {{fa-icon 'times-circle'}} Cancel
      </button>
    </div>
  </div>
</div>
